{% extends "InshoreCareQualityBundle:front:layout.html.twig" %}

{% block title %}
    Global Dashboard -
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block inshorecarequality_body %}
        <p>Find here your most important and global informations.</p>
    {% endblock %}
{% endblock %}